
# --- PostgreSQL ---
POSTGRES_DB=your-postgres-db-name
POSTGRES_USER=-your-postgres-username
POSTGRES_PASSWORD=-your-postgres-password
POSTGRES_PORT=your-postgres-port
POSTGRES_HOST=your-postgres-host

# --- pgAdmin ---
PGADMIN_DEFAULT_EMAIL=your-pgadmin-email
PGADMIN_DEFAULT_PASSWORD=your-pgadmin-password
PGADMIN_PORT=your-pgadmin-port

# --- Backend ---
BACKEND_PORT=your-backend-port

# --- JWT ---
# Atleast 32 characters secure value. (example: openssl rand -base64 32)
JWT_SECRET=replace-with-a-long-random-secret
# Miliseconds
JWT_EXPIRATION=your-jwt-expiration-time-in-milliseconds